@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Nunito';
  src: url('../src/fonts/Nunito/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../src/fonts/Montserrat_Alternates/MontserratAlternates-Regular.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-user button{
  @apply rounded-full px-5 py-1 font-nunito uppercase text-black border text-base;
}

.menu-header{
  @apply flex flex-row items-center justify-center gap-16 font-montserrat font-semibold text-base;
}

.menu-header li{
  @apply cursor-pointer;
}

.menu-footer > li{
  @apply cursor-pointer text-base font-nunito;
}
